
body {
	font: normal 14px/160% Verdana, sans-serif;
}

@font-face {
	font-family: Fontin;
	src: url(../fonts/Fontin.otf);
}

@font-face {
	font-family: Signika;
	src: url(../fonts/Signika.ttf);
}

h1, h2, h3, h4, h5, h6 {
	font: bold 40px/100% Fontin;
	margin-bottom: 5px;
	margin-top: 10px;
}

h1 { font-size: 60px; }
h2 { font-size: 50px; }
h3 { font-size: 40px; }
h4 { font-size: 35px; }
h5 { font-size: 30px; }
h6 { font-size: 25px; }

p {
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	max-width: 400px;
}

ul li {
	clear: left;
	display: inline-block;
	float: left;
	width: 100%;
}

ul b {
	float: left;
}

ul i {
	float: right;
}

header {
	padding: 15px;
	position: absolute;
	top: 0;
	vertical-align: middle;
	z-index: 100;
}
header div {
	
}
header a {
	color: #DDD;
	display: inline-block;
	font: bold 20px/100% Fontin;
	height: 20px;
	padding: 20px 15px;
	text-decoration: none;
	vertical-align: middle;
}
header a:hover {
	color: white;
}
#logo-link {
	font: bold 30px/100% Fontin;
	height: 40px;
	padding: 10px 20px;
}
#logo {
	display: inline-block;
	height: 40px;
	position: relative;
	vertical-align: middle;
}
header .left {
	float: left;
}
header .right {
	float: right;
}

.section {
	z-index: 0;
}

.section .background {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -2;
}
.section .background img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.section .content {
	margin: auto;
	max-width: 800px;
	padding: 10px;
	z-index: 2;
}
.section .content .slide-header {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
}
.section .content .info-box {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	font: normal 20px/160% Verdana;
	padding: 10px 15px;
}
.section .demo {
	background: #EEE;
	border-radius: 3px;
	box-shadow: 0 5px 0 #CCC;
	color: black;
	font: normal 22px/160% Verdana;
	margin: 15px 0;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
	top: 15px;
}
.section .demo:hover {
	background: white;
	box-shadow: 0 5px 0 #DDD;
}

.section .graphic {
	opacity: 0.5;
	position: absolute;
	left: 50%;
	margin: auto;
	margin-left: -250px;
	margin-top: -250px;
	top: 50%;
	z-index: -1;
}
.section .graphic img {
	max-width: 500px;
}

.section:first-child {
	color: white;
	font: normal 20px/160% Verdana;
}
#intro-graphic {
	opacity: 1;
}

.section:nth-child(2) {
	background: #8C2026;
	color: white;
}
#fritillo-header {
	font: bold 50px/100% Signika;
}
#fritillo-logo {
	vertical-align: bottom;
	width: 50px;
}

.section:nth-child(3) {
	background: #222;
	color: #EEE;
}

.section:nth-child(4) {
	background: #040404;
	color: #EEE;
}

@media screen and ( max-width: 700px ) {
	
	header a {
		position: absolute;
		visibility: hidden;
		width: 100%;
	}
	
	h1 { font-size: 40px; }
	h2 { font-size: 38px; }
	h3 { font-size: 36px; }
	h4 { font-size: 34px; }
	h5 { font-size: 32px; }
	h6 { font-size: 30px; }
	
	.section .content .info-box {
		font: normal 16px/160% Verdana;
	}
	
	#logo {
		left: 50vw;
		margin-left: -40px;
		position: absolute;
		top: 15px;
		visibility: visible;
	}
	
}
